body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff;
  padding: 0;
}

* {
  box-sizing: border-box;
}

section {
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(#365bb2, #071e45);
}

.form {
  width: 100%;
  max-width: 500px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background-color: #fff;
  font-size: 16px;
  color: #ff0000;
}

.form label {
  display: block;
  padding: 0 0 6px 6px;
  font-size: 16px;
  color: #000000;
}

.form input {
  width: 100%;
  padding: 12px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  font-size: 18px;
  color: #000000;
}

button {
  margin-top: 30px;
  padding: 12px 30px;
  background-color: #2b60d2;
  border-radius: 20px;
  border: 0;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}
